<p id="notice"><%= notice %></p>

<h1>Ofertaeducativas</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Institucion</th>
      <th>Categoria</th>
      <th>Jornada</th>
      <th>Ubicacion</th>
      <th>Duracion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ofertaeducativas.each do |ofertaeducativa| %>
      <tr>
        <td><%= ofertaeducativa.nombre %></td>
        <td><%= ofertaeducativa.descripcion %></td>
        <td><%= ofertaeducativa.institucion_id %></td>
        <td><%= ofertaeducativa.categoria_id %></td>
        <td><%= ofertaeducativa.jornada_id %></td>
        <td><%= ofertaeducativa.ubicacion_id %></td>
        <td><%= ofertaeducativa.duracion_id %></td>
        <td><%= link_to 'Show', ofertaeducativa %></td>
        <td><%= link_to 'Edit', edit_ofertaeducativa_path(ofertaeducativa) %></td>
        <td><%= link_to 'Destroy', ofertaeducativa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ofertaeducativa', new_ofertaeducativa_path %>
